<h1 align="center">  Homework: 3 </h1>
<h2 align="center"> CS 5402 </h2>
<h3 align="center"> By: Md Yasin Kabir, email: mkdv6@mst.edu </h3>

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB
import sklearn.metrics as metrics
from sklearn.metrics import classification_report

In [2]:
# Reading train data
train = pd.read_csv("train.csv")
train = train.drop(["ID", "Date"], axis = 1) # Dropping unnecessary columns
train.head()

      Opponent Is_Home_or_Away Is_Opponent_in_AP25_Preseason  Media Label
0        Texas            Home                           Out  1-NBC   Win
1     Virginia            Away                           Out  4-ABC   Win
2  GeorgiaTech            Home                            In  1-NBC   Win
3        UMass            Home                           Out  1-NBC   Win
4      Clemson            Away                            In  4-ABC  Lose

In [3]:
# Converting categorical data to numerical 
for col in train.columns:
    train[col] = pd.Categorical(train[col])
    train[col] = train[col].cat.codes

train.head()

   Opponent  Is_Home_or_Away  Is_Opponent_in_AP25_Preseason  Media  Label
0        14                1                              1      0      1
1        17                0                              1      3      1
2         4                1                              0      0      1
3        15                1                              1      0      1
4         2                0                              0      3      0

In [4]:
# Reading Test data
test = pd.read_csv("test.csv")
test = test.drop(["ID", "Date"], axis = 1) # Dropping unnecessary columns
test.head()

        Opponent Is_Home_or_Away Is_Opponent_in_AP25_Preseason   Media Label
0         Temple            Home                           Out   1-NBC   Win
1        Georgia            Home                            In   1-NBC  Lose
2  BostonCollege            Away                           Out  2-ESPN   Win
3  MichiganState            Away                           Out   3-FOX   Win
4      MiamiOhio            Home                           Out   1-NBC   Win

In [5]:
# Converting categorical data to numerical 
for col in test.columns:
    test[col] = pd.Categorical(test[col])
    test[col] = test[col].cat.codes

test.head()

   Opponent  Is_Home_or_Away  Is_Opponent_in_AP25_Preseason  Media  Label
0         9                1                              1      0      1
1         1                1                              0      0      0
2         0                0                              1      1      1
3         4                0                              1      2      1
4         3                1                              1      0      1

In [6]:
# Preparing training and testing data and labels
train_X = train[train.columns[:-1]].values
train_Y = train['Label'].values

test_X = test[train.columns[:-1]].values
test_true_label = test['Label'].values

In [7]:
test_true_label

array([1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0], dtype=int8)

In [8]:
# Build Naive Bayes model
model = GaussianNB()
model.fit(np.array(train_X), train_Y)
predicted_label = model.predict(test_X)

In [9]:
predicted_label

array([1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0], dtype=int8)

In [10]:
# Calculating and priting accuracy, Precision, Recall and F1 score

print("Accuracy: ", metrics.accuracy_score(test_true_label, predicted_label))
print(classification_report(test_true_label, predicted_label))

Accuracy:  0.916666666667
             precision    recall  f1-score   support

          0       0.75      1.00      0.86         3
          1       1.00      0.89      0.94         9

avg / total       0.94      0.92      0.92        12

In [11]:
# Converting binary numeric labels to Win/Lose labels
print("True Lable")
true_lable = ['Win' if pred == 1 else 'Lose' for pred in test_true_label]
print(true_lable)
print()

print("Predicted Label")
pred_label = ['Win' if pred == 1 else 'Lose' for pred in predicted_label]
print(pred_label)

True Lable
['Win', 'Lose', 'Win', 'Win', 'Win', 'Win', 'Win', 'Win', 'Win', 'Lose', 'Win', 'Lose']

Predicted Label
['Win', 'Lose', 'Win', 'Win', 'Win', 'Lose', 'Win', 'Win', 'Win', 'Lose', 'Win', 'Lose']